<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Statistiken für unbekannte URL-Kürzel aufgerufen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

    <h1>Link-Statistiken für URL-Kürzel "<tt th:text="${kuerzel}"></tt>"</h1>

    <p>
      Aufrufe insgesamt: [[${anzahl_erfolg}]]</span>
      (davon [[${anzahl_kein_erfolg}]] erfolglos)
    </p>

    <br>

    <p>
      <ul>
        <li>Aufrufe in den letzten 24 Stunden: [[${anzahl_letzte_24h}]]</li>
        <li>Aufrufe in den letzten  7 Tagen  : [[${anzahl_letzte_7T}]]</li>
        <li>Aufrufe in den letzten 30 Tagen  : [[${anzahl_letzte_30T}]]</li>
      </ul>
    </p>

    <div class="klein">
      <p>[[${#dates.format(#dates.createNow(), 'HH:mm:ss')}]] Uhr,
         [[${#dates.format(#dates.createNow(), 'dd MMM yyyy (E)')}]]
      </p>
    </div>

</body>
</html>