<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>FEHLER: Statistiken für unbekannte URL-Kürzel aufgerufen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

    <h1>FEHLER: Link-Statistiken für unbekanntes URL-Kürzel "[[${kuerzel}]]" angefordert</h1>

    <br>

    <div class="klein">
      <p>[[${#dates.format(#dates.createNow(), 'HH:mm:ss')}]] Uhr,
         [[${#dates.format(#dates.createNow(), 'dd MMM yyyy (E)')}]]
      </p>
    </div>

</body>
</html>