<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Kurz-URL aufgelöst</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

    <p th:if="${gefunden == false}">FEHLER: URL-Kürzel "<span th:text="${kuerzel}"></span>" konnte nicht aufgelöst werden.</p>

    <div th:if="${gefunden == true}">
        <a th:href="${urlLang}" target="_blank"><span th:text="${urlLang}"></span></a>
        <p><strong>Beschreibung:</strong> <span th:text="${beschreibung}"></span></p>
    </div>

    <br>

    <div class="klein">
        <p th:text="'Diese Anfrage wurde beantwortet von: ' + ${instanzname}"></p>
        <p th:text="'Zeitpunkt Erzeugung dieser Antwortseite: ' + ${#dates.format(#dates.createNow(), 'HH:mm:ss')} + ' Uhr, ' + ${#dates.format(#dates.createNow(), 'yyyy-MM-dd (EEEE)')}"></p>
    </div>

</body>
</html>
